# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [4]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [5]:
source_url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
dataset = pd.read_csv(source_url, sep='\t')

### Step 3. Assign it to a variable called chipo.

In [6]:
chipo = dataset

In [43]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,chips and fresh tomato salsa,NaN,2.39
1,1,1,izze,[Clementine],3.39
2,1,1,nantucket nectar,[Apple],3.39
3,1,1,chips and tomatillogreen chili salsa,NaN,2.39
4,2,2,chicken bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

### Step _Preprocessing_. Removing duplicate item_name-s
Some entries in the item_name column differ only by occasional hyphens, such as "Chips and Roasted Chili-Corn Salsa" versus "Chips and Roasted Chili Corn Salsa". Iâ€™m standardizing the item_name column by removing hyphens and converting all text to lowercase, in order to merge/remove duplicates. In addition, the item_price parameter is of type str and has to be casted to float64.

In [8]:
chipo['item_name'] = chipo['item_name'].str.replace(r'-', '', regex=True)
chipo['item_name'] = chipo['item_name'].str.lower()

try:
    chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))
except TypeError:
    print("Already changed!")

Already changed!

### Step 4. How many products cost more than $10.00?

In [61]:
chipo.loc[chipo['item_price'] > 10, 'item_name'].nunique()

31

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [62]:
just_name_and_price = chipo.groupby('item_name', as_index=False)['item_price'].max()
just_name_and_price

                                item_name  item_price
0                       6 pack soft drink       12.98
1                           barbacoa bowl       11.75
2                        barbacoa burrito       11.75
3                   barbacoa crispy tacos       18.50
4                     barbacoa salad bowl       11.89
5                     barbacoa soft tacos       11.75
6                           bottled water       15.00
7                                    bowl       22.20
8                                 burrito        7.40
9                             canned soda        4.36
10                      canned soft drink        5.00
11                          carnitas bowl       35.25
12                       carnitas burrito       18.50
13                  carnitas crispy tacos       17.98
14                         carnitas salad        8.99
15                    carnitas salad bowl       11.89
16                    carnitas soft tacos       11.75
17                           chicken bowl       32.94
18                        chicken burrito       35.00
19                   chicken crispy tacos       17.50
20                          chicken salad       10.98
21                     chicken salad bowl       22.50
22                     chicken soft tacos       21.96
23                                  chips        6.45
24           chips and fresh tomato salsa       44.25
25                    chips and guacamole       17.80
26      chips and mild fresh tomato salsa        3.00
27     chips and roasted chili corn salsa        5.90
28      chips and roasted chilicorn salsa        2.39
29  chips and tomatillo green chili salsa        5.90
30    chips and tomatillo red chili salsa        5.90
31   chips and tomatillogreen chili salsa        4.78
32     chips and tomatillored chili salsa        7.17
33                           crispy tacos        7.40
34                                   izze        3.39
35                       nantucket nectar        6.78
36                                  salad        7.40
37                          side of chips       13.52
38                             steak bowl       26.07
39                          steak burrito       27.75
40                     steak crispy tacos       17.98
41                            steak salad        8.99
42                       steak salad bowl       23.78
43                       steak soft tacos       18.50
44                            veggie bowl       16.98
45                         veggie burrito       33.75
46                    veggie crispy tacos        8.49
47                           veggie salad        8.49
48                      veggie salad bowl       11.25
49                      veggie soft tacos       16.98

### Step 6. Sort by the name of the item

In [20]:
# Was it already sorted?
just_name_and_price.sort_values(by='item_name')

                                item_name  item_price
0                       6 pack soft drink        6.49
1                           barbacoa bowl       11.75
2                        barbacoa burrito        8.99
3                   barbacoa crispy tacos       11.75
4                     barbacoa salad bowl       11.89
5                     barbacoa soft tacos        9.25
6                           bottled water        1.09
7                                    bowl       22.20
8                                 burrito        7.40
9                             canned soda        2.18
10                      canned soft drink        1.25
11                          carnitas bowl        8.99
12                       carnitas burrito        8.99
13                  carnitas crispy tacos        9.25
14                         carnitas salad        8.99
15                    carnitas salad bowl       11.89
16                    carnitas soft tacos        9.25
17                           chicken bowl       16.98
18                        chicken burrito        8.49
19                   chicken crispy tacos        8.75
20                          chicken salad       10.98
21                     chicken salad bowl        8.75
22                     chicken soft tacos        8.75
23                                  chips        2.15
24           chips and fresh tomato salsa        2.39
25                    chips and guacamole        4.45
26      chips and mild fresh tomato salsa        3.00
27     chips and roasted chili corn salsa        2.95
28      chips and roasted chilicorn salsa        2.39
29  chips and tomatillo green chili salsa        2.95
30    chips and tomatillo red chili salsa        2.95
31   chips and tomatillogreen chili salsa        2.39
32     chips and tomatillored chili salsa        2.39
33                           crispy tacos        7.40
34                                   izze        3.39
35                       nantucket nectar        3.39
36                                  salad        7.40
37                          side of chips        1.69
38                             steak bowl        8.99
39                          steak burrito       11.75
40                     steak crispy tacos        9.25
41                            steak salad        8.99
42                       steak salad bowl       23.78
43                       steak soft tacos        9.25
44                            veggie bowl       11.25
45                         veggie burrito       11.25
46                    veggie crispy tacos        8.49
47                           veggie salad        8.49
48                      veggie salad bowl       11.25
49                      veggie soft tacos       11.25

### Step 7. What was the quantity of the most expensive item ordered?

In [70]:
price_and_quantity = chipo.groupby('item_name').agg(
    quantity=('quantity', 'sum'),
    price=('item_price', 'max')
).reset_index()

print(price_and_quantity['quantity'].iloc[price_and_quantity['price'].idxmax()])

130

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [71]:
vsb_q = price_and_quantity.loc[
    price_and_quantity['item_name'] == "veggie salad bowl",
    'quantity'
].iloc[0]

print(vsb_q)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [72]:
len(chipo[(chipo['quantity'] >= 2) & (chipo['item_name'] == 'canned soda')])

20